::ng-deep.mat-form-field-infix {
  border-top-width: 5.5px;
  padding-top: 14px !important;
  padding-bottom: 10px !important;
}

::ng-deep.mat-form-field-wrapper {
  padding-bottom: 10px !important;
}

.login-card {
  max-width: 600px;
}
