<div class="row m-0 pb-5">
      <span class="small m-auto">
        Enter log-in information to continue to the KYD Platform
      </span>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row m-0">
    <mat-form-field appearance="outline">
      <mat-label>
        <fa-icon matPrefix class="mr-1" [icon]="envelopeIcon"></fa-icon>
        Email
      </mat-label>
      <input matInput type="email" formControlName="email">
    </mat-form-field>
    <mat-error *ngIf="form.get('email').touched && form.get('email').hasError('email')">
      This email address is <strong>invalid</strong>.
    </mat-error>
  </div>
  <div class="password-strength">
    <mat-form-field appearance="outline" [color]="passwordStrengthComponent.color">
      <mat-label>
        <fa-icon matPrefix class="mr-1" [icon]="keyIcon"></fa-icon>
        Password
      </mat-label>
      <input matInput #password
             [type]="hide ? 'password' : 'text'"
             formControlName="password">
      <mat-hint align="end" aria-live="polite">
        {{password.value.length}} / {{passwordStrengthComponent.max}}
      </mat-hint>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon class="material-icons-outlined">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <div id="password-strength-bar">
      <mat-password-strength #passwordStrengthComponent
                             class="green"
                             [password]="password.value"
                             (onStrengthChanged)="onStrengthChanged($event)">
      </mat-password-strength>
    </div>
  </div>
  <div class="row pt-3 m-0">
    <mat-form-field appearance="outline">
      <mat-label>
        <fa-icon matPrefix class="mr-1" [icon]="keyIcon"></fa-icon>
        Confirm Password
      </mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="repeatPassword">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon class="material-icons-outlined">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-error *ngIf="form.get('repeatPassword').touched && this.form.hasError('passwordsNotMatching')">
      The passwords do not match.
    </mat-error>
  </div>
  <div class="row m-0 pt-4">
    <div class="col-6 p-0">
      <button mat-button
              class="p-0"
              color="primary"
              routerLink="/login">Sign in instead</button>
    </div>
    <div class="col-6 p-0">
      <button mat-flat-button
              class="float-right pl-4 pr-4"
              color="primary"
              type="submit">Next</button>
    </div>
  </div>
</form>
