<div class="container p-0 pt-3">
  <div style="height: 150px"></div>
  <mat-card class="login-card">
    <div class="row m-0">
      <img src="assets/svgs/Universität_Zürich_logo.svg" class="w-50 m-auto">
    </div>
    <div class="row m-0 pt-4 pb-2">
      <h3 class="m-auto">
        User Registration
      </h3>
    </div>
    <app-login-data *ngIf="stage == 0"
                    [user]="user"
                    (continue)="stage = 1"></app-login-data>
    <app-particulars *ngIf="stage == 1" [user]="user"></app-particulars>
  </mat-card>
</div>


<!--<div class="row m-0">-->
<!--  <div class="col-4 pt-3 pl-4 pr-4">-->
<!--    <mat-toolbar>-->
<!--      <span class="primary-color">Personalien</span>-->
<!--    </mat-toolbar>-->
<!--    <form [formGroup]="form">-->
<!--      <div class="flex-container">-->
<!--        <mat-form-field appearance="standard">-->
<!--          <mat-label>Geburtsdatum</mat-label>-->
<!--          <input matInput-->
<!--                 [matDatepicker]="birthDatePicker"-->
<!--                 [min]="minBirthDate"-->
<!--                 [max]="today"-->
<!--                 formControlName="birthDate">-->
<!--          <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>-->
<!--          <mat-datepicker #birthDatePicker-->
<!--                          startView="multi-year"-->
<!--                          [startAt]="minBirthDate">-->
<!--          </mat-datepicker>-->
<!--        </mat-form-field>-->
<!--      </div>-->

<!--      <div class="radio-group">-->
<!--        <mat-radio-group formControlName="isMale" color="primary">-->
<!--          <mat-radio-button class="pr-3" [value]="true">Männlich</mat-radio-button>-->
<!--          <mat-radio-button [value]="false">Weiblich</mat-radio-button>-->
<!--        </mat-radio-group>-->
<!--      </div>-->

<!--      <div *ngIf="form.value.type === 'regular'" class="flex-container">-->
<!--        <mat-form-field appearance="standard">-->
<!--          <mat-label>Zivilstand</mat-label>-->
<!--          <mat-select formControlName="marriageStatus">-->
<!--            <mat-option value="single">Ledig</mat-option>-->
<!--            <mat-option value="married">Verheiratet</mat-option>-->
<!--            <mat-option value="divorced">Geschieden</mat-option>-->
<!--            <mat-option value="divorced">Verwitwet</mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->
<!--      </div>-->

<!--      <div *ngIf="form.value.type === 'spouse-detailed' || form.value.type === 'spouse-simple'" class="flex-container">-->
<!--        <mat-form-field appearance="standard">-->
<!--          <mat-label>Heiratsdatum</mat-label>-->
<!--          <input matInput-->
<!--                 [matDatepicker]="marriageDatePicker"-->
<!--                 [min]="minMarriageDate"-->
<!--                 [max]="today"-->
<!--                 formControlName="marriageDate">-->
<!--          <mat-datepicker-toggle matSuffix [for]="marriageDatePicker"></mat-datepicker-toggle>-->
<!--          <mat-datepicker #marriageDatePicker-->
<!--                          startView="multi-year"-->
<!--                          [startAt]="minMarriageDate">-->
<!--          </mat-datepicker>-->
<!--        </mat-form-field>-->
<!--      </div>-->

<!--      <div *ngIf="form.value.type === 'spouse-simple'" class="flex-container">-->
<!--        <mat-form-field appearance="standard">-->
<!--          <mat-label>Ende der Ehe</mat-label>-->
<!--          <input matInput-->
<!--                 [matDatepicker]="divorceDatePicker"-->
<!--                 [min]="form.value.marriageDate"-->
<!--                 [max]="today"-->
<!--                 [errorStateMatcher]="spouseRangeErrorMatcher"-->
<!--                 formControlName="endDate">-->
<!--          <mat-error *ngIf="form.hasError('spousesOverlap')"></mat-error>-->
<!--          <mat-datepicker-toggle matSuffix [for]="divorceDatePicker"></mat-datepicker-toggle>-->
<!--          <mat-datepicker #divorceDatePicker-->
<!--                          startView="multi-year"-->
<!--                          [startAt]="form.value.marriageDate">-->
<!--          </mat-datepicker>-->
<!--        </mat-form-field>-->
<!--      </div>-->

<!--      <div *ngIf="form.value.type === 'regular' || form.value.type ==='spouse-detailed'" class="flex-container">-->
<!--        <mat-form-field appearance="standard">-->
<!--          <mat-label>Pensionierungszeitpunkt</mat-label>-->
<!--          <mat-select formControlName="retirementDate">-->
<!--            <mat-option value="orderly">Ordentliches Rentenalter</mat-option>-->
<!--            <mat-option value="advancement">Vorbezug</mat-option>-->
<!--            <mat-option value="delay">Aufschub</mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->
<!--      </div>-->

<!--      <div *ngIf="(form.value.type === 'regular' || form.value.type ==='spouse-detailed') && form.value.retirementDate === 'advancement'" class="radio-group">-->
<!--        <mat-radio-group formControlName="numAdvancementYears" color="primary">-->
<!--          <mat-radio-button class="pr-3" [value]="1">1 Jahr</mat-radio-button>-->
<!--          <mat-radio-button [value]="2">2 Jahre</mat-radio-button>-->
<!--        </mat-radio-group>-->
<!--      </div>-->

<!--      <div class="row">-->
<!--        <div *ngIf="(form.value.type === 'regular' || form.value.type ==='spouse-detailed') && form.value.retirementDate === 'delay'" class="slider-label col-4">-->
<!--          <mat-label>Anzahl Monate</mat-label>-->
<!--        </div>-->
<!--        <div *ngIf="(form.value.type === 'regular' || form.value.type ==='spouse-detailed') && form.value.retirementDate === 'delay'" class="flex-container col-8">-->
<!--          <mat-slider min="12"-->
<!--                      max="60"-->
<!--                      color="primary"-->
<!--                      thumbLabel-->
<!--                      formControlName="numDelayMonths"></mat-slider>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="flex-container">-->
<!--        <mat-form-field appearance="standard">-->
<!--          <mat-label>Berufsbranche</mat-label>-->
<!--          <mat-select formControlName="sector">-->
<!--            <mat-option value="PRODUCTION">Verarbeitendes Gewerbe/Herstellung von Waren</mat-option>-->
<!--            <mat-option value="CONSTRUCTION">Baugewerbe/Bau</mat-option>-->
<!--            <mat-option value="INFORMATION">Information und Kommunikation</mat-option>-->
<!--            <mat-option value="FINANCE">Erbringung von Finanz- und Versicherungsdienstleistungen</mat-option>-->
<!--            <mat-option value="STATE">Öffentliche Verwaltung, Verteidigung; Sozialversicherung</mat-option>-->
<!--            <mat-option value="EDUCATION">Erziehung und Unterricht</mat-option>-->
<!--            <mat-option value="HEALTH">Gesundheits- und Sozialwesen</mat-option>-->
<!--            <mat-option value="ART">Kunst, Unterhaltung und Erholung</mat-option>-->
<!--            <mat-option value="OTHER">Erbringung von sonstigen Dienstleistungen</mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->
<!--      </div>-->

<!--      <div class="row">-->
<!--        <div class="flex-container col">-->
<!--          <mat-form-field appearance="standard">-->
<!--            <mat-label>Aktueller Bruttolohn</mat-label>-->
<!--            <input matInput-->
<!--                   max="999999999"-->
<!--                   currencyMask [options]="{prefix: '', precision: 0, thousands: '\''}"-->
<!--                   formControlName="currentIncome"-->
<!--                   class="right-align-whitespace">-->
<!--            <span matSuffix>CHF <fa-icon matPrefix class="primary-color pl-2 pr-1" [icon]="incomeIcon"></fa-icon></span>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div *ngIf="form.value.incomeList.length > 0" class="col- chart-button pr-3">-->
<!--          <button type="button"-->
<!--                  color="primary"-->
<!--                  (click)="open()"-->
<!--                  mat-flat-button>-->
<!--            <fa-icon [icon]="chartIcon"></fa-icon></button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->

<!--  <div *ngIf="form.value.type === 'regular' || form.value.type ==='spouse-detailed'" class="col-4 pt-3 pl-4 pr-4">-->
<!--    <mat-toolbar>-->
<!--      <span class="primary-color">Beitragslücken</span>-->
<!--    </mat-toolbar>-->
<!--    <div *ngFor="let contributionGap of contributionGaps?.controls; let i = index">-->
<!--      <app-contribution-gap [index]="i"-->
<!--                            [contributionGapForm]="contributionGap"-->
<!--                            (deleteContributionGap)="deleteContributionGap($event)">-->
<!--      </app-contribution-gap>-->
<!--    </div>-->
<!--    <div class="right-align">-->
<!--      <button type="button"-->
<!--              color="primary"-->
<!--              (click)="addContributionGap();"-->
<!--              mat-flat-button>-->
<!--        <fa-icon matPrefix class="pr-2" [icon]="addIcon"></fa-icon>Hinzufügen</button>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div *ngIf="form.value.type === 'regular' || form.value.type ==='spouse-detailed'" class="col-4 pt-3 pl-4 pr-4">-->
<!--    <mat-toolbar>-->
<!--      <span class="primary-color">Kinder</span>-->
<!--    </mat-toolbar>-->
<!--    <div *ngFor="let child of children?.controls; let i = index">-->
<!--      <app-child [index]="i"-->
<!--                 [childForm]="child"-->
<!--                 (deleteChild)="deleteChild($event)">-->
<!--      </app-child>-->
<!--    </div>-->
<!--    <div class="right-align">-->
<!--      <button type="button"-->
<!--              color="primary"-->
<!--              (click)="addChild();"-->
<!--              mat-flat-button>-->
<!--        <fa-icon matPrefix class="pr-2" [icon]="addPersonIcon"></fa-icon>Hinzufügen</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
