<div class="row m-0 pb-5">
      <span class="small m-auto">
        Enter your particulars to continue to the KYD Platform
      </span>
</div>
<form [formGroup]="user" (ngSubmit)="onSubmit()" class="slim-form-field">
  <div class="row m-0">
    <mat-form-field appearance="outline" class="col-6 pr-3">
      <mat-label>
        <fa-icon matPrefix class="mr-1" [icon]="addressCardIcon"></fa-icon>
        First Name
      </mat-label>
      <input matInput formControlName="firstName">
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-6">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName">
    </mat-form-field>
  </div>
  <div class="row m-0">
    <mat-form-field appearance="outline">
      <mat-label>Birthdate</mat-label>
      <input matInput
             [matDatepicker]="birthDatePicker"
             [max]="today"
             formControlName="birthDate">
      <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #birthDatePicker
                      startView="multi-year">
      </mat-datepicker>
    </mat-form-field>
  </div>
  <div class="row m-0 pt-4">
    <mat-form-field appearance="outline" class="col-8 pr-3">
      <mat-label>
        <fa-icon matPrefix class="mr-1" [icon]="addressIcon"></fa-icon>
        Street
      </mat-label>
      <input matInput formControlName="street">
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-4">
      <mat-label>House Number</mat-label>
      <input matInput formControlName="houseNumber">
    </mat-form-field>
  </div>
  <div class="row m-0">
    <mat-form-field appearance="outline" class="col-8 pr-3">
      <mat-label>City</mat-label>
      <input matInput formControlName="city">
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-4">
      <mat-label>Postal Code</mat-label>
      <input matInput formControlName="postalCode">
    </mat-form-field>
  </div>
  <div class="row m-0">
    <mat-select-country appearance="outline"
                        id="country-input"
                        class="w-100"
                        (onCountrySelected)="setCountry($event)"
                        label="Country">
    </mat-select-country>
  </div>
  <div class="row m-0 pt-4">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>
        <fa-icon matPrefix class="mr-1" [icon]="mobileIcon"></fa-icon>
        Mobile Phone Number
      </mat-label>
      <input
        matInput
        ng2TelInput
        formControlName="mobileNumber"
        [ng2TelInputOptions]="{initialCountry: 'ch'}"
        (ng2TelOutput)="setMobileNumber($event)"
        (hasError)="mobileNumberError($event)">
    </mat-form-field>
    <mat-error *ngIf="!form.get('mobileNumber').valid && form.get('mobileNumber').dirty">
      This phone number is <strong>invalid</strong>.
    </mat-error>
  </div>
  <div class="row m-0 pt-4">
    <div class="col-6 p-0">
      <button mat-button
              id="back-button"
              color="primary"
              (click)="back.emit()">Back</button>
    </div>
    <div class="col-6 p-0">
      <button mat-flat-button
              class="float-right pl-4 pr-4"
              color="primary"
              type="submit">Next</button>
    </div>
  </div>
</form>
