<div *ngIf="loading" class="container p-3">
  <div class="row pb-5">
    <h3 class="m-auto">
      Retrieving devices
    </h3>
  </div>
  <mat-spinner color="primary" class="m-auto"></mat-spinner>
</div>
<div *ngIf="!loading" class="container p-3">
  <div *ngIf="devices">
    <h3 class="pl-4 pb-2">
      Registered Devices
    </h3>
    <mat-accordion>
      <mat-expansion-panel class="mat-elevation-z0" *ngFor="let device of devices; let i = index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="row m-0 flex-fill vertical-align-center">
              <div id="expansion-title">
                {{device.name}}
              </div>
              <div *ngIf="!device.claims" id="status-red" class="ml-4">
                Unverified
              </div>
              <div *ngIf="device.claims" id="status-green" class="ml-4">
                Verified
              </div>
            </div>
            <button mat-flat-button
                    *ngIf="!device.claims"
                    class="pl-4 pr-4 mr-3"
                    color="primary"
                    [routerLink]="'devices/verify/'.concat(device.id)">Verify device</button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-device-details [device]="device"></app-device-details>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div *ngIf="!devices">
    <div class="row m-0 pt-5 pb-2">
      <h3 class="text-center w-100">
        You have no registered devices!
      </h3>
    </div>
  </div>
  <div class="row m-0 pt-5 justify-content-center">
    <button mat-flat-button
            class="pl-4 pr-4"
            color="primary"
            routerLink="/devices/register">Register new device</button>
  </div>
</div>


