#title-row {
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-color: #cdcdcd;
  font-weight: 600;
  color: #0028A5;
}

#device-row {
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-color: #cdcdcd;
}
