<mat-toolbar color="primary">
  <img src="assets/uzh_logo_e_neg_blau_gross.png" height="60">
  <span class="flex-fill"></span>
  <button mat-button [matMenuTriggerFor]="menu" style="font-size: 16px">
    <fa-icon matPrefix class="mr-2" [icon]="userIcon"></fa-icon>Account
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item
            (click)="userService.logout()"
            routerLink="/login">Sign out</button>
  </mat-menu>
</mat-toolbar>
<div class="container p-3">
  <div *ngIf="!devices" class="row m-0 pt-5 pb-2">
    <h3 class="text-center w-100 pt-5">
      You have no registered devices!
    </h3>
  </div>
  <div *ngIf="devices" class="row m-0 pt-5 pb-2" id="title-row">
    <div class="col-4 p-0 my-auto">
      Name
    </div>
    <div class="col p-0 my-auto">
      Model
    </div>
  </div>
  <div *ngFor="let device of devices" class="row m-0 pt-2 pb-2" id="device-row">
    <div class="col-4 p-0 my-auto">
      {{device.name}}
    </div>
    <div class="col p-0 my-auto">
      {{device.make}} {{device.model}}
    </div>
    <div class="col- p-0">
      <button mat-button
              class="p-0"
              color="primary">Edit</button>
    </div>
  </div>
  <div *ngIf="!devices" class="row m-0 pt-5 justify-content-center">
    <button mat-flat-button
            class="pl-4 pr-4"
            color="primary"
            routerLink="/device/register">Register new device</button>
  </div>
  <div *ngIf="devices" class="row m-0 pt-5 justify-content-end">
    <button mat-flat-button
            class="pl-4 pr-4"
            color="primary"
            routerLink="/device/register">Register new device</button>
  </div>
</div>

