
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kyd-gui-primary: mat-palette($mat-indigo);
$kyd-gui-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$kyd-gui-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$kyd-gui-theme: mat-light-theme($kyd-gui-primary, $kyd-gui-accent, $kyd-gui-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($kyd-gui-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.country-selector {
  position: relative !important;
  height: fit-content !important;
  z-index: auto;
}

.mat-menu-panel {
  max-width: 505px !important;
}

.mat-form-field {
  width: 100%;
}

.login-header-text {
  margin: auto;
  font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
  font-size: 24px;
  color: #202124;
}

.login-card {
  max-width: 448px;
  margin: 200px auto auto;
  padding-left: 40px !important;
  padding-right: 40px !important;
  box-shadow: none !important;
  border-style: solid;
  border-width: thin;
  border-radius: 7px !important;
  border-color: #e1e1e1;
}

.login-card-title {

  background-color: white;
  width: fit-content;
  //margin-top: -30px !important;
  margin-left: 11px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'Lato', sans-serif;
  font-size: large;
  font-weight: 600;
  color: #3f4b69;
}

.mat-flat-button {
  min-width: 88px !important;
}

