// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kyd-gui-primary: mat-palette((
  50: #e0e5f4,
  100: #b3bfe4,
  200: #8094d2,
  300: #4d69c0,
  400: #2648b3,
  500: #0028a5,
  600: #00249d,
  700: #001e93,
  800: #00188a,
  900: #000f79,
  A100: #a7acff,
  A200: #747bff,
  A400: #414bff,
  A700: #2733ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
));
$kyd-gui-accent: mat-palette($mat-blue-grey);

// Create the theme object (a Sass map containing all of the palettes).
$kyd-gui-theme: mat-light-theme($kyd-gui-primary, $kyd-gui-accent);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($kyd-gui-theme);

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Montserrat, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 400)
);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat', sans-serif; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.primary-color {
  color: #0028A5;
}

.mat-toolbar {
  height: fit-content !important;
}

.mat-form-field {
  width: 100%;
  padding: 0;
}

.mat-error {
  font-size: 12px;
  margin-top: -25px;
}

.login-card {
  max-width: 450px;
  margin: auto;
  padding: 40px !important;
  box-shadow: none !important;
  border-style: solid;
  border-width: thin;
  border-radius: 7px !important;
  border-color: #cdcdcd;
}

.slim-form-field {
  .mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix {
    border-top-width: 5.5px;
    padding-top: 14px !important;
    padding-bottom: 10px !important;
  }

  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.2em) scale(.75);
    width: 133.33333%;
  }

  .mat-form-field-wrapper {
    padding-bottom: 10px !important;
  }

  .mat-error {
    margin-top: -14px;
  }

  .borderless-button {
    margin-left: -16px;
  }
}

#country-input {
  .mat-form-field-suffix {
    position: absolute !important;
    left: 88.74%;
    margin-top: 3px;
  }
}

.mat-button.mat-primary.mat-button .mat-button-focus-overlay {
  background-color: transparent;
}

.mat-button.mat-primary.mat-button .mat-button-wrapper {
  font-weight: 600;
}

.password-strength {
  @include angular-material-theme(mat-light-theme(mat-palette($mat-green), mat-palette($mat-amber)));
}
